@font-face {
    font-family: 'NeueHaasGrotesk';
    src: url(NeueHaasGrotesk.otf);
}
*{
    margin: auto;
}  
a{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    font-weight: bold;
}

nav{
    display: inline;
}
img{
    display: inline;
    width: 30%;
}

#flex-container{
    display: inline-flex;

}
#flex-item2{
   display: inline;
}
#flex-item3{
    display: inline;
 }
hr{
    color: #363795;
    margin-bottom: 2vw;
}
#maincontent{
  display:flex;
  margin-right: auto;
}

#bio{
    margin-left: 5vw;
    font-size: larger;
    margin-top: 0vw;
}
p{
    text-decoration:none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    
}
#creds{
text-decoration:none;
list-style: none;
    color: #363795;
    font-family: 'NeueHaasGrotesk';
    margin-right: 25vw;
    margin-left: 25vw;
    font-size: smaller;
}
ul{
    list-style:none;
    font-weight: 200;

}
@media only screen and (max-width: 1080px){
    .logo{
        margin-top: 5vw;
        margin-bottom: 2vw;
        width: 70%;
    }
}


@media only screen and (max-width: 1080px){
    #p2{ 
        font-size: 3vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
}
}

footer{
    text-align: center;
    font-size: 1vw;
}
@media only screen and (max-width: 1080px){
    footer{
        font-size: 2.25vw;
        margin-bottom: 3vw;
    }
}