*{
    margin: auto;

}
#main-content{
    display:flex;
}


.logo{
    display: block;
    height:auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 768px){
    .logo{
        margin-top: 5vw;
        margin-bottom: 2vw;
    }
}
.subtext{
    display: block;
    height:auto;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4vw;
    margin-bottom: 8vw;
    
}
@media only screen and (max-width: 768px){
    .subtext{
        width: 60%;
    }
}
#flex-container{
    display:flex;
    width: auto;
    margin: auto;
    margin-top: -1vw;
}

@media only screen and (max-width: 768px){
    #flex-container{
        display: inline;
        width: 100%;
    }
}
img{
    display:flex;
    width: 100%;
}
@media only screen and (max-width: 768px){
    img{
       
        width: 100%;
      
        margin-bottom: 7vw;
    }
}
#flex-item1{
    display:flex;
    margin-right:2%;
    margin-left:0%;
}
@media only screen and (max-width: 768px){
    #flex-item1{
       
        width: 100%;
      
        margin-bottom: 7vw;
    }
}
#flex-item2{
    display:flex;
    margin: auto; 
    margin-right:2%;
    margin-left:2%;
}
@media only screen and (max-width: 768px){
    #flex-item2{
       
        width: 100%;
        margin-left: 0%;
        margin-bottom: 7vw;
    }
}
#flex-item3{
    display:flex;
    margin-left:2%;
    margin-right: 0%;

}
@media only screen and (max-width: 768px){
    #flex-item3{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 7vw;
    }
}
a{
    text-decoration: none;
    color:blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    text-align: center;
    color: blue;
    font-size: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    

}
@media only screen and (max-width: 768px){
    footer{
        font-size: 2.25vw;
        margin-bottom: 3vw;
    }
}
